extends ../../layouts/default

block content
  .container.max-width-md.legal
    h1 Crediti
    p Il sito è stato realizzato da Luca Zonarelli con il supporto di
    ul
      li!= '<a href="https://codyhouse.co">CodyHouse Framework</a> - Framework CSS e HTML'
      li!= '<a href="https://it.freepik.com/foto-vettori-gratuito/salute">Freepik</a> - Icona del logo (parzialmente modificata)'
