.graph {
  padding: var(--space-sm) 0;

  &__container {
    width: 100%;
  }

  &--doughnut {

    .chartjs-legend__color {
      border-radius: 50%;
      height: var(--chart-legend-color-circle);
      width: var(--chart-legend-color-circle);
    }

  }

  &__title {
    position: relative;

    &:after {
      content: none;
      position: absolute;
      font-size: 11px;
      margin: 5px 0 0 5px;
      opacity: .85;
    }

  }

  &.dati-pcn {

    .graph__title:after {
      content: '1';
    }

  }

  &.dati-iss {

    .graph__title:after {
      content: '2';
    }

  }

}

.graphs {
  display: grid;
  grid-gap: var(--space-sm);
  grid-template-columns: repeat(1, 100%);

  @include breakpoint(sm) {
    grid-template-columns: repeat(2, 50%);
  }
}
