extends ../layouts/default
include ../components/table

block content
    .container.max-width-xl

        section.padding-y-sm.ultimo-aggiornamento
            span Ultimo aggiornamento: 
            span#dataUltimoAggiornamento 

        section.recap-cards
            .card.card--positivi
                .card__title Attualmente positivi
                span.card__value#attualiContagiati -
            .card.card--ospedalizzati
                .card__title Ospedalizzati
                span.card__value#attualiRicoveratiSintomatici -
                .card__info escluse terapie intensive
            .card.card--rianimazione
                .card__title Terapia intensiva
                span.card__value#attualiRianimazione -
            .card.card--deceduti
                .card__title Deceduti
                span.card__value#totaleDeceduti -
                .card__info in attesa di conferma ISS

        //section.recap-cards
            .card.card--totali
                .card__title Totale contagiati
                span.card__value#totaleContagiati -
            .card.card--positivi
                .card__title Attualmente positivi
                span.card__value#attualiContagiati -
            .card.card--deceduti
                .card__title Deceduti
                span.card__value#totaleDeceduti -
                .card__info in attesa di conferma ISS
            .card.card--guariti
                .card__title Guariti
                span.card__value#totaleGuariti -

        // .card.card--alert: .card-title Avviso: i dati del 10/03 relativi alla Regione Lombardia non sono completi.

        section.graphs
            .graph
                h4.info-dati.dati-pcn Andamento nazionale
                .graph__container
                    #incrementaliNazionaliLegend
                    canvas#incrementaliNazionali

            .graph
                h4.info-dati.dati-pcn Incremento giornaliero
                .graph__container
                    #giornalieriNazionaliLegend
                    canvas#giornalieriNazionali

            .graph
                h4.info-dati.dati-pcn Andamento tamponi
                .graph__container
                    #incrementaliTamponiLegend
                    canvas#incrementaliTamponi

            .graph.graph--doughnut
                h4.info-dati.dati-qs Carico terapie intensive
                .graph__container
                    #caricoTerapieIntensiveLegend
                    canvas#caricoTerapieIntensive

            .graph
                h4.info-dati.dati-iss Decessi per fasce d'età
                .graph__container
                    #etaDescessiLegend
                    canvas#etaDescessi

            .graph
                h4.info-dati.dati-iss Letalità per fasce d'età
                .graph__container
                    #etaLetalitaLegend
                    canvas#etaLetalita

        section#tabellaRegioni.graph
            h4.info-dati.dati-pcn Dati regionali
            +table(regioni)

        //section#alerts
            .card.card--alert: .card-title Avviso: dati del 16/03 relativi a P.A. Trento e Puglia non pervenuti.
            .card.card--alert: .card-title Avviso: dati del 10/03 relativi alla Regione Lombardia non completi.
            .card.card--alert: .card-title Avviso: dati del 11/03 relativi alla Regione Abruzzo non pervenuti.
            .card.card--alert: .card-title Avviso: dati del 07/03 relativi a Brescia: +300 esiti positivi.

block script
    script(type='text/javascript').
        DatiProtezioneCivile.init();
